



@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.font-raleway, body {
    font-family: 'Raleway', sans-serif;
}
.font-number {
    font-feature-settings : "lnum" ;
}

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.font-indie-flower {
    font-family: 'Indie Flower', 'cursive';
}
.font-architects-daughter {
    font-family: 'Architects Daughter', cursive;
}
.font-gochi-hand {
    font-family: 'Gochi Hand', cursive;
}

.font-handwriting {
    font-family: 'Indie Flower', 'cursive';
}

.text-stroke {
    -webkit-text-stroke-width: 1px;
}












