/**
 * Main
 */






main {
    margin: 0 auto; 
    //max-width: 1920px;
    // position: relative; z-index: 0;
    // display: flex; flex-direction: column;
    // padding: 6rem 4rem 0;
    //min-height: calc(100vw / 16 * 8);
}